{% extends 'base.html.twig' %}

{% block body %}
    {{ include('partials/navbar.html.twig') }}

    <div id="game-wrapper" class="col-centered">
        <h1>BUY LYCANS</h1>
        <a class="btn btn-danger" id="back_to_kingdom" href="{{ path('shop') }}">BACK TO MAIN SHOP</a>
        <br>
        <br>

        <div class="container">
            <img src="assets/lycans/lycan_present.jpg" id="lycan_present">
            <form method="post" action="{{ path('purchase-lycans') }}">
                <div class="form-group col-md-6 col-centered">
                    <br>
                    <h3>
                        <label for="lycanCount" class="label label-warning">Number of lycans</label>
                    </h3>
                    <input type="number" name="countOfLycans" value="1" id="countOfLycans" class="form-control">
                    <br>
                    <h3>
                        <label for="price" class="label label-warning">GOLD Price</label>
                    </h3>
                    <input type="" name="price" value="50" id="price" disabled="disabled" class="form-control">
                    <br>
                    <h3>
                        <label for="mana" class="label label-warning">MANA Price</label>
                    </h3>
                    <input type="" name="mana" value="25" id="mana" disabled="disabled" class="form-control">
                    <br>
                    <input type="submit" class="btn btn-danger" value="BUY LYCANS">

                </div>
            </form>
        </div>


    </div>


{% endblock %}
    {% block stylesheets %}
        <style>

            body {
                background-image: url("assets/world/magic_shop.jpg") !important;
                background-size: 100%;
            }

            canvas {
                margin: auto;

            }

            #game-wrapper {
                width: 100%;
                min-height: 100%;
                box-shadow: inset 0 0 1.5em 1.5em #114ea7, 0 0 1.5em 1.5em #114ea7; /* padding:1em */
                display: inline-block;
                position: absolute;
                margin: 0px auto;
                padding: 20px;
                padding-top: 68px;

                background-color: transparent;
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }

            h1 {
                color: white !important;
                text-align: center;
            }

            #lycan_present {
                width: 48%;
                border: 3px solid black;
                display: block;
                margin: 0 auto;
            }

        </style>
    {% endblock %}

{% block javascripts %}
    <script>

        $('#countOfLycans').on('change', function () {

            let count = $('#countOfLycans').val();

            $('#price').val(count * {{ lycan.getPrice() }});
            $('#mana').val(count * ({{ lycan.getPriceMana() }} ));
        });

    </script>
{% endblock %}