{% extends 'base.html.twig' %}

{% block body %}
    {{ include('partials/navbar.html.twig') }}

    <div id="game-wrapper" class="col-centered">

        <a class="btn btn-danger" href="{{ path('catacombs') }}">GO TO DANGER CATACOMBS</a>
        <br>
        <br>
        {#<img src="assets/own-castles.jpg" id="castlesThumb">#}
        <div class="castleTable">
            <h1>CASTLES</h1>

            <table class="table table-hover tst">
                <thead>
                <tr>
                    <th>Castle ID</th>
                    <th>Castle Name</th>
                    <th>Castle Eye Attack</th>
                    <th>Castle Eye Health</th>
                    <th>Position X</th>
                    <th>Position Y</th>
                </tr>
                </thead>
                <tbody>

                {% for castle in ownCastles %}
                    <tr>
                        <td>{{ castle.getId() }}</td>
                        <td>{{ castle.getCastleName() }}</td>
                        <td>{{ castle.getCastleAttack() }}</td>
                        <td>{{ castle.getCastleHealth() }}</td>
                        <td>{{ castle.getX() }}</td>
                        <td>{{ castle.getY() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


       <div class="castleTable">
           <h1>MAGIC WANDS</h1>
           <table class="table table-hover tst">
               <thead>
               <tr>
                   <th>WAND NAME</th>
                   <th>ATTACK BONUS</th>
                   <th>HEALTH BONUS</th>
                   <th>CASTLE ATTACK BONUS</th>
                   <th>LEVEL</th>
                   <th>USING</th>
                   <th>IMAGE</th>
                   <th>ACTION</th>
               </tr>
               </thead>
               <tbody>
               {% for magicWand in magicWands %}
                   <tr>
                       <td>{{ magicWand.getMagicWand().getName() }}</td>
                       <td>{{ magicWand.getMagicWand().getAttackBonus() }}</td>
                       <td>{{ magicWand.getMagicWand().getHealthBonus() }}</td>
                       <td>{{ magicWand.getMagicWand().getCastleAttackBonus() }}</td>
                       <td>{{ magicWand.getLevel() }}</td>
                       <td>{% if userWand == magicWand.getMagicWand().getId() %}
                               <span style="color: #ff4f4c">USED NOW</span>
                           {% else %}
                               NOT USED
                           {% endif %}
                       </td>
                       <td><img src="assets/wands/{{ magicWand.getMagicWand().getImage() }}" style="height: 100px"></td>

                       <td>
                           <form method="post" action="{{ path('useWand',{"id": magicWand.getMagicWand().getId()}) }}">
                               <input class="btn btn-sm btn-danger" type="hidden" name="stick_id">
                               <button class="btn btn-sm btn-danger" type="submit" value="Use this wand">USE</button>
                           </form>
                       </td>
                   </tr>
               {% endfor %}
               </tbody>
           </table>
       </div>
    </div>


{% endblock %}
    {% block stylesheets %}
        <style>

            body {
                background-image: url("http://vignette1.wikia.nocookie.net/wizard101/images/3/31/Cool-background_020.jpg/revision/latest?cb=20130722205636") !important;
                background-size: 100%;
            }

            canvas {
                margin: auto;

            }

            #game-wrapper {
                width: 53.3333%;
                box-shadow: inset 0 0 1.5em 1.5em #114ea7, 0 0 1.5em 1.5em #114ea7; /* padding:1em */
                display: block;
                margin: 88px auto;
                padding: 20px;

                background-color: black;
                background-image: url("assets/own-castles.jpg");
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }

            h1 {
                color: white !important;
            }

            #castlesThumb {
                width: 300px;
            }

            .tst {
                color: white;
                background-color: rgba(0, 0, 0, 0.69);
            }

            .table-hover > tbody > tr:hover {
                color: black;
            }

            select {
                color: black;
            }

            .castleTable{
                max-height: 530px;
                overflow: auto;
                border: 3px solid darkred;
            }

        </style>
    {% endblock %}

{% block javascripts %}




{% endblock %}