{% extends 'base.html.twig' %}

{% block body %}
    {{ include('partials/navbar.html.twig') }}

    <div id="game-wrapper" class="col-centered">
        <a class="btn btn-danger" href="{{ path('castle') }}">BACK TO CASTLE</a>
        <br>
        <br>
        <div class="lycanTable">
            <h1>NECKLACES AND MEDALIONS</h1>
            <img src="assets/necklaces/necklace_magic.gif">

            <table class="table table-hover tst">
                <thead>
                <tr>
                    <th>NECKLACE TYPE</th>
                    <th>ATTACK BONUS</th>
                    <th>DEFENCE BONUS</th>
                    <th>CASTLE ATTACK BONUS</th>
                    <th>LYCAN ATTACK BONUS</th>
                    <th>LYCAN HEALTH BONUS</th>
                    <th>IMAGE</th>
                    <th>ACTION</th>
                </tr>
                </thead>
                <tbody>

                {% for userNecklace in userNecklaces %}
                    <tr>
                        <td>{{ userNecklace.getNecklace().getName() }}</td>
                        <td>{{ userNecklace.getNecklace().getAttackBonus() }}</td>
                        <td>{{ userNecklace.getNecklace().getHealthBonus() }}</td>
                        <td>{{ userNecklace.getNecklace().getCastleHealthBonus() }}</td>
                        <td>{{ userNecklace.getNecklace().getLycanAttackBonus() }}</td>
                        <td>{{ userNecklace.getNecklace().getLycanHealthBonus() }}</td>
                        <td><img src="assets/necklaces/{{ userNecklace.getNecklace().getImage() }}" style="height: 150px"></td>

                        <td>
                            {% if userNecklace.getNecklace().getUpdater() == 0 %}

                                Choose your kingdom to direct affect
                                <form method="post"
                                      action="{{ path('setNecklace', {'necklaceId': userNecklace.getId()}) }}">


                                    <select class="form-control" name="castleId">
                                        <option>Choose kingdom</option>
                                        {% for ownCastle in ownCastles %}
                                            <option
                                                    {% if ownCastle.getId() == userNecklace.getCastleId() %}
                                                        selected
                                                    {% endif %}
                                                    value="{{ ownCastle.getId() }}">{{ ownCastle.getCastleName() }} </option>
                                        {% endfor %}
                                    </select>
                                    <br>
                                    <input class="btn btn-danger" type="submit" value="AFFECT YOUR KINGDOM">
                                </form>

                            {% elseif userNecklace.getNecklace().getUpdater() == 1 %}

                                See your updater building to get status

                            {% else %}

                                DIRECT AFFECT TO YOUR HERO OR LYCAN
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="lycanTable">
            <h1>LYCANS</h1>
            <img src="assets/lycans/lycan_show.gif">
            <table class="table table-hover tst">
                <thead>
                <tr>
                    <th>NAME</th>
                    <th>ATTACK </th>
                    <th>HEALTH </th>
                    <th>LEVEL</th>
                    <th>CURRENT CASTLE</th>
                    <th>YOUR OWN CASTLES</th>
                    <th>SET TO CASTLE GUARD</th>
                </tr>
                </thead>
                <tbody>

                {% for lycan in lycans %}
                    <tr>
                        <form method="post" action='{{ path('setLycanToCastleGuard',{"lycanId": lycan.getId()}) }}'>
                        <td>{{ lycan.getName() }}</td>
                        <td>{{ lycan.getAttack() }}</td>
                        <td>{{ lycan.getHealth() }}</td>
                            <td>{{ lycan.getLevel() }}</td>
                            <td>{{ lycan.castleName }}</td>
                        <td>
                        <select class="form-control" name="castleId">
                            <option value="">CHOOSE CASTLE</option>

                            {% for castle in ownCastles %}
                                    <option value="{{ castle.getId() }}">{{ castle.getCastleName() }}</option>
                                {% endfor %}
                        </select>
                        </td>
                        <td><button type="submit" class="btn btn-danger">SET</button></td>
                            </form>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
    {% block stylesheets %}
        <style>

            body {
                background-image: url("http://vignette1.wikia.nocookie.net/wizard101/images/3/31/Cool-background_020.jpg/revision/latest?cb=20130722205636") !important;
                background-size: 100%;
            }

            canvas {
                margin: auto;

            }

            #game-wrapper {
                width: 53.3333%;
                box-shadow: inset 0 0 1.5em 1.5em #114ea7, 0 0 1.5em 1.5em #114ea7; /* padding:1em */
                display: block;
                margin: 88px auto;
                padding: 20px;

                background-color: black;
                background-image: url("assets/own-castles.jpg");
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }

            h1 {
                color: white !important;
            }

            #castlesThumb {
                width: 300px;
            }

            .tst {
                color: white;
                background-color: rgba(0, 0, 0, 0.69);
            }

            .table-hover > tbody > tr:hover {
                color: black;
            }

            select {
                color: black;
            }

            .lycanTable{
                background-color: black;
                max-height: 530px;
                overflow: auto;
                border: 3px solid darkred;
            }

            .lycanTable>img{
                width: 450px;
            }
        </style>
    {% endblock %}

{% block javascripts %}




{% endblock %}