{% extends 'base.html.twig' %}

{% block body %}
    {{ include('partials/navbar.html.twig') }}

    <div id="game-wrapper" class="col-centered">
        <h1>SHOP</h1>
        <a class="btn btn-danger" id="back_to_kingdom" href="{{ path('own-kingdom') }}">BACK TO KINGDOM</a>
        <br>
        <br>

        <div class="col-md-4">
            <a href="{{ path('buy-wands') }}">
                <div class="card" id="wand_card"></div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="{{ path('buy-necklace') }}">
                <div class="card" id="necklace_card"></div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{{ path('buy-lycans') }}">
                <div class="card" id="lycan_card"></div>
            </a>
        </div>


    </div>


{% endblock %}
    {% block stylesheets %}
        <style>

            body {
                background-image: url("assets/world/magic_shop.jpg") !important;
                background-size: 100%;
            }

            canvas {
                margin: auto;

            }

            #game-wrapper {
                width: 100%;
                height: 100%;
                box-shadow: inset 0 0 1.5em 1.5em #114ea7, 0 0 1.5em 1.5em #114ea7; /* padding:1em */
                display: inline-block;
                position: absolute;
                margin: 0px auto;
                margin-top: 68px;
                padding: 20px;
                background-color: transparent;
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }

            h1 {
                color: white !important;
                text-align: center;
            }

            #castlesThumb {
                width: 300px;
            }

            .tst {
                color: white;
                background-color: rgba(0, 0, 0, 0.69);
            }

            .table-hover > tbody > tr:hover {
                color: black;
            }

            select {
                color: black;
            }

            #wand_card {
                background-image: url("assets/cards/wand_card_spritesheet.png");
                background-position: 0px 0px;

            }

            #necklace_card {
                background-image: url("assets/cards/necklace_card_spritesheet.png");
                background-position: 0px 0px;

            }

            #lycan_card {
                background-image: url("assets/cards/lycan_card_spritesheet.png");
                background-position: 0px 0px;

            }

            #wand_card:hover {
                background-position: 340px 0px;
            }

            #necklace_card:hover {
                background-position: 340px 0px;
            }

            #lycan_card:hover {
                background-position: 340px 0px;
            }

            .card {
                position: absolute;
                top: 0;
                left: 20%;
                width: 342px;
                height: 472px;
                animation: mymove 5s infinite;
            }

            #game-wrapper > div {
                position: relative;
                height: 60%;
            }

            @keyframes mymove {
                0% {
                    top: 0;
                }
                /*25% {*/
                /*bottom: 2%*/
                /*}*/
                50% {
                    top: 5%;
                }
                /*75% {*/
                /*bottom: 2%*/
                /*}*/
                100% {
                    top: 0;
                }
            }

            #back_to_kingdom {
                text-align: right;
                float: right;
                right: 7px;
                position: relative;
            }

        </style>
    {% endblock %}

{% block javascripts %}
    <script>


    </script>
{% endblock %}