{% extends 'base.html.twig' %}

{% block body %}
    {{ include('partials/navbar.html.twig') }}

    <div id="game-wrapper" class="col-centered">

        <h1>UPDATES STATUS</h1>

        <div class="updates-buttons-wrapper">
            <a href="{{ path('updates') }}" class="btn btn-lg btn-danger">BACK TO SPECIAL NECKLACES</a>


        </div>
        <h2>UPDATE MAGIC WANDS</h2>

        <div class="castleTable">
            <table class="table table-hover tst">
                <thead>
                <tr>
                    <th>WAND NAME</th>
                    <th>ATTACK BONUS</th>
                    <th>HEALTH BONUS</th>
                    <th>CASTLE ATTACK BONUS</th>
                    <th>LEVEL</th>
                    <th>USING</th>
                    <th>TIME TO UPDATE</th>
                    <th>ACTION</th>
                </tr>
                </thead>
                <tbody>
                {% for magicWand in magicWands %}
                    <tr>
                        <td>{{ magicWand.getMagicWand().getName() }}</td>
                        <td>{{ magicWand.getMagicWand().getAttackBonus() }}</td>
                        <td>{{ magicWand.getMagicWand().getHealthBonus() }}</td>
                        <td>{{ magicWand.getMagicWand().getCastleAttackBonus() }}</td>
                        <td>{{ magicWand.getLevel() }}</td>
                        <td>{% if userWand == magicWand.getMagicWand().getId() %}
                                <span style="color: #ff4f4c">USED NOW</span>
                            {% else %}
                                NOT USED
                            {% endif %}
                        </td>
                        <td class="timeleft">
                            {% if magicWand.getTimeToUpdate() != null %}
                            <span class="time">{{ magicWand.getTimeToUpdate().format('Y-m-d H:i:s') }}</span>
                            <br>
                            <span class="timer" id="timer-{{ magicWand.getId() }}"></span></td>
                        {% else %}

                            Waiting for update

                        {% endif %}
                        </td>

                        <td>
                            <form method="post" action="{{ path('set-wand-update',{"id": magicWand.getMagicWand().getId()}) }}">
                                <input class="btn btn-sm btn-danger" type="hidden" name="gold" value="{{ magicWand.getMagicWand().getPrice()  * magicWand.getLevel() }}">
                                <button class="btn btn-sm btn-warning" type="submit" value="Use this wand">UPDATE
                                    FOR {{ magicWand.getMagicWand().getPrice() * magicWand.getLevel()  }}</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="assets/wands/{{ magicWand.getMagicWand().getImage() }}" style="width: 300px;">
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>


{% endblock %}
    {% block stylesheets %}
        <style>

            body {
                background-image: url("http://vignette1.wikia.nocookie.net/wizard101/images/3/31/Cool-background_020.jpg/revision/latest?cb=20130722205636") !important;
                background-size: 100%;
            }

            canvas {
                margin: auto;

            }

            #game-wrapper {
                position: relative;
                width: 53.3333%;
                box-shadow: inset 0 0 1.5em 1.5em #114ea7, 0 0 1.5em 1.5em #114ea7; /* padding:1em */
                display: block;
                margin: 88px auto;
                padding: 20px;

                background-color: black;
                background-image: url("assets/world/building_backgrounds/updates.jpg");
                background-repeat: no-repeat;
                background-size: 100% 100%;
                min-height: 700px;
            }

            h1, h2 {
                color: white !important;
            }

            .updates-buttons-wrapper {
                height: 100px;
            }

            .tst {
                background-color: rgba(0, 0, 0, 0.71);
                color: white;
                margin-bottom: 50px;
            }

            .tst > tbody > tr:hover {
                color: black;
            }

            .timer {
                font-size: 30px;
            }
        </style>
    {% endblock %}

{% block javascripts %}

    <script>

        $(document).ready(function () {

            let timers = $('.timeleft');

            timers.each(function (i, t) {

                let time = $($(t).children()[0]).text();
                let timer = $($(t).children()[2]);

                let timeLeft = moment(time);

                let secondsLeft = timeLeft.diff(moment(), 'seconds');
                let idName = $(timer[0]).attr('id');

                console.log(secondsLeft);

                if (secondsLeft > 0) {

                    ww.helpers.countDownTimer(secondsLeft, idName)
                }
            })

            $('.timer').on('DOMSubtreeModified', function(){
                let currentCounter = $(this);

                if(currentCounter.text() == "00:00"){
                    currentCounter.text("Update is complete")
                }
            })

        });
    </script>


{% endblock %}