{% extends 'base.html.twig' %}

{% block body %}
    {{ include('partials/navbar.html.twig') }}

    <div id="game-wrapper" class="col-centered">

        <h1>UPDATES STATUS</h1>

        <div class="updates-buttons-wrapper">
            <a href="{{ path('update-lycans') }}" class="btn btn-lg btn-danger">UPDATE LYCANS</a>
            <a href="{{ path('update-necklace') }}" class="btn btn-lg btn-danger">UPDATE NECKLACES</a>
            <a href="{{ path('update-magic-wands') }}" class="btn btn-lg btn-danger">UPDATE MAGIC WANDS</a>
        </div>
        <h2>Updating Special Necklaces</h2>

        <table class="table table-hover tst">
            <thead>
            <tr>
                <th>WAND NAME</th>
                <th>DESCRIPTION</th>
                <th> LEVEL</th>
                <th>IMAGE</th>
                <th>TIME LEFT</th>
                <th>UPDATE</th>
            </tr>
            </thead>
            <tbody>

            {% for userNecklace in updaters %}
                <tr>
                    <td>{{ userNecklace.getNecklace().getName() }}</td>
                    <td>{{ userNecklace.getNecklace().getDescription() }}</td>
                    <td>{{ userNecklace.getLevel() }}</td>
                    <td><img src="assets/necklaces/{{ userNecklace.getNecklace().getImage() }}" style="height: 150px">
                    </td>

                    <td class="timeleft"><span
                                class="time">{{ userNecklace.getTimeToUpdate().format('Y-m-d H:i:s') }}</span><br><span
                                class="timer" id="timer-{{ userNecklace.getId() }}"></span></td>
                    <td>
                        <form method="post" action="{{ path('update-necklace-action',{'id':userNecklace.getId()}) }}">
                            <input type="hidden" value="{{ userNecklace.getNecklace().getPrice() * userNecklace.getLevel() }}" name="price">
                            <button type="submit" class="btn btn-warning">UPDATE
                                FOR {{ userNecklace.getNecklace().getPrice() * userNecklace.getLevel() }} GOLD</button>
                        </form>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>


{% endblock %}
    {% block stylesheets %}
        <style>

            body {
                background-image: url("http://vignette1.wikia.nocookie.net/wizard101/images/3/31/Cool-background_020.jpg/revision/latest?cb=20130722205636") !important;
                background-size: 100%;
            }

            canvas {
                margin: auto;

            }

            #game-wrapper {
                position: relative;
                width: 53.3333%;
                box-shadow: inset 0 0 1.5em 1.5em #114ea7, 0 0 1.5em 1.5em #114ea7; /* padding:1em */
                display: block;
                margin: 88px auto;
                padding: 20px;

                background-color: black;
                background-image: url("assets/world/building_backgrounds/updates.jpg");
                background-repeat: no-repeat;
                background-size: 100% 100%;
                min-height: 700px;
            }

            h1, h2 {
                color: white !important;
            }

            .updates-buttons-wrapper {
                height: 100px;
            }

            .tst {
                background-color: rgba(0, 0, 0, 0.71);
                color: white;
                margin-bottom: 50px;
            }

            .tst > tbody > tr:hover {
                color: black;
            }

            .timer {
                font-size: 30px;
            }
        </style>
    {% endblock %}

{% block javascripts %}

    <script>

        $(document).ready(function () {

            let timers = $('.timeleft');

            timers.each(function (i, t) {

                let time = $($(t).children()[0]).text();
                let timer = $($(t).children()[2]);

                let timeLeft = moment(time);

                let secondsLeft = timeLeft.diff(moment(), 'seconds');
                let idName = $(timer[0]).attr('id');

                if (secondsLeft > 0) {

                    ww.helpers.countDownTimer(secondsLeft, idName, 120)
                } else {
                    $('#' + idName).text('updated');
                }
            })
        });
    </script>


{% endblock %}